
<div class="title page">
    <h3 style="display: inline;">รายการ order</h3>
    <a href="" style="display: inline; float: right;">ดูทั้งหมด</a>
</div>
<table id="customers">
    <tr>
        <th scope="col">#</th>
        <th scope="col">รหัสอ้างอิง</th>
        <th scope="col">จาก</th>
        <th scope="col">วันที่นำออก</th>
        <th scope="col">สร้างโดย</th>
        <th scope="col">สถานะ</th>
      
    </tr>
    <tr>
      <td>1</td>
      <td>00001</td>
      <td>001</td>
      <td>12/08/1996</td>
      <td>User</td>
      <td>รอจัดส่ง</td>
     
    </tr>

    <tr>
        <td>2</td>
        <td>00002</td>
        <td>002</td>
        <td>12/08/1996</td>
        <td>Admin</td>
        <td>กำลังจัดส่ง</td>
      
      </tr>

      <tr>
        <td>3</td>
        <td>00003</td>
        <td>003</td>
        <td>12/08/1996</td>
        <td>User2</td>
        <td>จัดส่งสำเร็จ</td>
       
      </tr>

  
 
  
  </table>