<nav class="nav flex-column" style="background-color: rgb(255, 255, 255); width: 350px; height: 1500px; padding: 25px 0 0 30px;">
    <!--<a class="nav-link" href="/dashboard" style="color: #333333;">Dashboard</a>-->
    <a class="nav-link" href="/user_dashboard" style="color: #333333;">หน้าหลัก</a>
    <a class="nav-link" href="#" style="color: #333333;">สินค้า</a>
    <a class="nav-link" href="user_page_group" style="color: #333333;">กลุ่มสินค้า</a>
    <a class="nav-link" href="#" style="color: #333333;">ประเภทสินค้า</a>
    <a class="nav-link" href="orderby_user_pageuser" style="color: #333333;">รายการออเดอร์</a>
    <a class="nav-link" href="#" style="color: #333333;">ติดตามพัสดุ</a>
</nav>